<h2>Browse Doctors</h2>
{{#if noMatch}}
<h3 class="noMatch">{{noMatch}}</h3>
{{/if}}
<ul class="docs">
    {{#each doctors}}
    <li>
        <h3>{{full_name}}</h3>
        <p>Specialty: {{category}}</p>
        <p>Location: {{city}} {{state}}</p>
        <p><a href="/doctors/details/{{_id}}">Details</a></p>
    </li>
    {{/each}}
</ul>